<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="2" verbose="1" name="Gmail Suite" parallel="methods">

    <test name="demo" parallel="methods" enabled="true">
        <classes>
            <class name="ui.logintest.LoginTest"/>
        </classes>
    </test>
</suite>